# IDE and editor files
.cursor/
.vscode/
.idea/
*.swp
*~
.DS_Store

# Python-specific files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb

# Distribution / packaging
.Python
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Molecular modeling and ML specific
*.pkl
*.h5
*.pdb
*.xyz
*.mol2
*.sdf
!data/processed/chemical_list/pfas20_rdkit_mols.pkl


# Logs and temp files
*.log
*.tmp
tmp/
temp/
logs/


# ORCA calculation files
*.gbw
*.opt
*.densities
*.densitiesinfo
*.engrad
*.property.txt
*.out
*.trj.xyz
*_trj.xyz
*.inp
*_results.json
*_optimized.mol
*.bibtex

config/pipeline_config.json

